.episodeNumber {
  display: inline-block;
  font-size: 28px;
  background: linear-gradient(to right, #ec008c, #fc6767);
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 70px;
}
.list:hover {
  background: #ffff0a; /* fallback for old browsers */
}
.Subscription {
  display: flex;
  justify-content: center;
  align-content: center;
}
.is-danger {
  background: white !important;
  /* border:2px solid rgb(196, 32, 0); */
  
  color: rgb(196, 32, 0) !important;
  transition: all .2s ease-in-out
}
.is-info {
  background: white !important;
  border: 2px solid rgb(0, 158, 231);
  color: rgb(0, 158, 231) !important;
}
.is-info:hover {
  background: rgb(0, 158, 231) !important;
  color: white !important;
  cursor: pointer;
}
/* .is-danger:hover{
  background:rgb(196, 32, 0)!important;
  color:white !important;
  cursor: pointer;
} */
.is-danger:hover{
  transform: scale(1.1);
}
footer {
  padding: 25px 0px;
  background-color: rgb(58, 60, 45);
  color: white;
  text-align: center;
  font-size: 18px;
}
