.episodeNumber {
  display: inline-block;
  font-size: 28px;
  background: #3d3b3a;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 70px;
}
.link{
  transition: all .2s ease-in-out
}
.list:hover {
  background: #56ff89; /* fallback for old browsers */
  transform: scale(1.1);
}
.Subscription {
  display: flex;
  justify-content: center;
  align-content: center;
}
.is-danger {
  background: white !important;
  /* border:2px solid rgb(196, 32, 0); */
  
  color: rgb(196, 32, 0) !important;
  transition: all .2s ease-in-out
}

.is-show{
  border:2px solid rgb(196, 32, 0) !important;
}
.is-info {
  background: white !important;
  border: 2px solid rgb(0, 158, 231);
  color: rgb(0, 158, 231) !important;
}
.is-info:hover {
  background: rgb(0, 158, 231) !important;
  color: white !important;
  cursor: pointer;
}
/* .is-danger:hover{
  background:rgb(196, 32, 0)!important;
  color:white !important;
  cursor: pointer;
} */
.is-danger:hover{
  transform: scale(1.1);
}
.is-show a{
  text-decoration: none !important;
}
.is-show:hover{
  background:rgb(196, 32, 0)!important;
  color:white !important;
  cursor: pointer;
}
.is-conduct{
  background: white !important;
  /* border:2px solid rgb(196, 32, 0); */
  
  color: #1d9e06 !important;
  transition: all .2s ease-in-out;
  border:2px solid #1d9e06 !important;
}
.is-conduct:hover{
  background:#1d9e06 !important;
  color:white !important;
  cursor: pointer;
}
.is-conduct a{
  text-decoration: none !important;
}
@media(max-width:700px){
  .is-conduct{
    margin: 5px;
  }
}