.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 70%;
}

.episodeNumber {
  display: inline-block;
  font-size: 28px;
  background: #3d3b3a;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 70px;
}
.link {
  transition: all 0.2s ease-in-out;
}
.list:hover {
  background: #56ff89; /* fallback for old browsers */
  transform: scale(1.1);
}
.Subscription {
  display: flex;
  justify-content: center;
  align-content: center;
}
.is-danger {
  background: white !important;
  /* border:2px solid rgb(196, 32, 0); */

  color: rgb(196, 32, 0) !important;
  transition: all 0.2s ease-in-out;
}

.is-show {
  border: 2px solid rgb(196, 32, 0) !important;
}
.is-info {
  background: white !important;
  border: 2px solid rgb(0, 158, 231);
  color: rgb(0, 158, 231) !important;
}
.is-info:hover {
  background: rgb(0, 158, 231) !important;
  color: white !important;
  cursor: pointer;
}
.guestNameStyle {
  color: rgb(196, 32, 0);
  text-decoration: none;
  font-weight: bold;
}
.guestNameStyle:hover {
  color: rgb(131, 25, 4);
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}
/* .is-danger:hover{
  background:rgb(196, 32, 0)!important;
  color:white !important;
  cursor: pointer;
} */
.is-danger:hover {
  transform: scale(1.1);
}
/* .is-redish a{
  
  color:rgb(196, 32, 0) !important;
  font-size: 20px;

}

.is-redish a:hover{
  color: white !important;
} */
.is-redish{
  color:rgb(196, 32, 0) !important;
  border:2px solid rgb(196, 32, 0) !important;
  
}
.is-redish:hover{
 
  background: rgb(196, 32, 0) !important;
  color: white !important;
}
.is-show a {
  text-decoration: none !important;
}
.is-show:hover {
  background: rgb(196, 32, 0) !important;
  color: white !important;
  cursor: pointer;
}
.is-conduct {
  background: white !important;
  /* border:2px solid rgb(196, 32, 0); */

  color: #1d9e06 !important;
  transition: all 0.2s ease-in-out;
  border: 2px solid #1d9e06 !important;
}
.is-conduct:hover {
  background: #1d9e06 !important;
  color: white !important;
  cursor: pointer;
}
.is-conduct a {
  text-decoration: none !important;
}
@media (max-width: 700px) {
  .is-conduct {
    margin: 5px;
  }
}
